base_url = setting('base_url')

block vars
    title = setting('author_display_name')
    meta_description = setting('description')
    body_class = 'default-body'

doctype 5
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1.0, user-scalable=1")
        title= title
        link(rel="stylesheet", type="text/css", href="/blog/theme/static/css/style.css")
        link(rel="shortcut icon", href="/#{ base_url }/theme/static/favicon.gif")
        link(rel="EditURI", type="application/rsd+xml", title="RSD", href=reverse_url('rsd'))
        link(
            rel="alternate"
            type="application/rss+xml"
            title=setting('blog_name') + " - Feed"
            href="http://feeds.feedburner.com/emptysquare")
        meta(name="description", content=meta_description)
        meta(name="author", content=setting('author_display_name'))
        meta(name="generator", content="Motor-Blog")

        // Twitter card stuff.
        meta(name="twitter:card", content="summary")
        meta(name="twitter:title", content=title)
        meta(name="twitter:description", content=meta_description)
        meta(name="twitter:creator", content="@#{ setting('twitter_handle') }")
        meta(name="twitter:domain", content=setting('host'))

    body(class=body_class)
        //
            .guides
                each i in range(12)
                    div
                        span

        each i in range(1, 7)
            div(class='backgroundplaceholder' + str(i))

        .container
            header.main-header
                a(href=reverse_url('home')).logo
                h1
                    a(href=reverse_url('home'))= setting('author_display_name')

                include nav

            section
                block content

        script(type="text/javascript")
            var pixelRatio = (window.devicePixelRatio >= 1.5) ? "high" : "normal";
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount','#{ setting("google_analytics_id") }']);
            _gaq.push(['_setCustomVar', 1, 'Pixel Ratio', pixelRatio, 2 ]);
            _gaq.push(['_trackPageview'],['_trackPageLoadTime']);
            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
