nav
    ul
        li
            a(href=reverse_url('all-posts')) All Posts

        for url, title, classname in setting('nav_menu')
            li.nav-item.menu-nav-item(class=classname)
                a(href=url)= title

        each category in categories
            li
                a(
                    href=reverse_url('category', category.slug)
                    title="View all posts filed under #{ category.name }")
                    = category.name
        li.search-item
            form(action=reverse_url('search'), method="get").search-form
                input(type="text", name="q", value=q).search-text-input#search-input
                input(type="submit", value="search").button.search-button#search-submit
